src/Sautom.Client.Comunication/Service References/FileService/FileService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Sautom.Server.TransportDto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Sautom.Server.TransportDto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/SautomServices/FileService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfGuidStringDtoOutput">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GuidStringDtoOutput" nillable="true" type="tns:GuidStringDtoOutput" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGuidStringDtoOutput" nillable="true" type="tns:ArrayOfGuidStringDtoOutput" />
  <xs:complexType name="GuidStringDtoOutput">
    <xs:sequence>
      <xs:element minOccurs="0" name="Element" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GuidStringDtoOutput" nillable="true" type="tns:GuidStringDtoOutput" />
  <xs:complexType name="FileDownloadDtoOutput">
    <xs:sequence>
      <xs:element minOccurs="0" name="FileData" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="FileExtension" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FileDownloadDtoOutput" nillable="true" type="tns:FileDownloadDtoOutput" />
  <xs:complexType name="ClientFileUploadDtoInput">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientId" type="ser:guid" />
      <xs:element minOccurs="0" name="FileData" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="FileExtension" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientFileUploadDtoInput" nillable="true" type="tns:ClientFileUploadDtoInput" />
</xs:schema>