src/Sautom.Client.Comunication/Service References/FileService/FileService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FileService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8000/SautomServices/FileService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8000/SautomServices/FileService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8000/SautomServices/FileService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Sautom.Server.TransportDto" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFileService_ClientFileList_InputMessage">
    <wsdl:part name="parameters" element="tns:ClientFileList" />
  </wsdl:message>
  <wsdl:message name="IFileService_ClientFileList_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClientFileListResponse" />
  </wsdl:message>
  <wsdl:message name="IFileService_ClientFile_InputMessage">
    <wsdl:part name="parameters" element="tns:ClientFile" />
  </wsdl:message>
  <wsdl:message name="IFileService_ClientFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClientFileResponse" />
  </wsdl:message>
  <wsdl:message name="IFileService_UploadFile_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadFile" />
  </wsdl:message>
  <wsdl:message name="IFileService_UploadFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadFileResponse" />
  </wsdl:message>
  <wsdl:message name="IFileService_RemoveFile_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveFile" />
  </wsdl:message>
  <wsdl:message name="IFileService_RemoveFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveFileResponse" />
  </wsdl:message>
  <wsdl:message name="IFileService_ClientContract_InputMessage">
    <wsdl:part name="parameters" element="tns:ClientContract" />
  </wsdl:message>
  <wsdl:message name="IFileService_ClientContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClientContractResponse" />
  </wsdl:message>
  <wsdl:portType name="IFileService">
    <wsdl:operation name="ClientFileList">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileService/ClientFileList" message="tns:IFileService_ClientFileList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileService/ClientFileListResponse" message="tns:IFileService_ClientFileList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClientFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileService/ClientFile" message="tns:IFileService_ClientFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileService/ClientFileResponse" message="tns:IFileService_ClientFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileService/UploadFile" message="tns:IFileService_UploadFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileService/UploadFileResponse" message="tns:IFileService_UploadFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileService/RemoveFile" message="tns:IFileService_RemoveFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileService/RemoveFileResponse" message="tns:IFileService_RemoveFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClientContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IFileService/ClientContract" message="tns:IFileService_ClientContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFileService/ClientContractResponse" message="tns:IFileService_ClientContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFileService" type="tns:IFileService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ClientFileList">
      <soap:operation soapAction="http://tempuri.org/IFileService/ClientFileList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientFile">
      <soap:operation soapAction="http://tempuri.org/IFileService/ClientFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <soap:operation soapAction="http://tempuri.org/IFileService/UploadFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveFile">
      <soap:operation soapAction="http://tempuri.org/IFileService/RemoveFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientContract">
      <soap:operation soapAction="http://tempuri.org/IFileService/ClientContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FileService">
    <wsdl:port name="BasicHttpBinding_IFileService" binding="tns:BasicHttpBinding_IFileService">
      <soap:address location="http://localhost:8000/SautomServices/FileService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>