src/Sautom.Client.Comunication/Service References/AuthorizationService/AuthorizationService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Sautom.Server.TransportDto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Sautom.Server.TransportDto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/SautomServices/AuthorizationService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:8000/SautomServices/AuthorizationService?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="AunthorizationCredentialsDtoOutput">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Roles" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="UserDisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AunthorizationCredentialsDtoOutput" nillable="true" type="tns:AunthorizationCredentialsDtoOutput" />
</xs:schema>