src/Sautom.Client.Comunication/Service References/CommonService/CommonService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Sautom.Server.TransportDto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Sautom.Server.TransportDto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/SautomServices/CommonService?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfEventNortificationOutput">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EventNortificationOutput" nillable="true" type="tns:EventNortificationOutput" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEventNortificationOutput" nillable="true" type="tns:ArrayOfEventNortificationOutput" />
  <xs:complexType name="EventNortificationOutput">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Args" nillable="true" type="q1:ArrayOfKeyValueOfstringanyType" />
      <xs:element minOccurs="0" name="EventName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EventNortificationOutput" nillable="true" type="tns:EventNortificationOutput" />
</xs:schema>