src/Sautom.Client.Comunication/Service References/ReportService/ReportService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Sautom.Server.TransportDto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Sautom.Server.TransportDto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="OrderReportDtoReport">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CourceName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SchoolName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderReportDtoReport" nillable="true" type="tns:OrderReportDtoReport" />
  <xs:complexType name="ArrayOfOrderReportDtoReport">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrderReportDtoReport" nillable="true" type="tns:OrderReportDtoReport" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrderReportDtoReport" nillable="true" type="tns:ArrayOfOrderReportDtoReport" />
</xs:schema>