src/Sautom.Client.Comunication/Service References/CommandService/CommandService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/SautomServices/CommandService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Sautom.Server.TransportDto" />
  <xs:import schemaLocation="http://localhost:8000/SautomServices/CommandService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="ProposalEditOrAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Sautom.Server.TransportDto" minOccurs="0" name="data" nillable="true" type="q1:ProposalEditDtoInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProposalEditOrAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProposalEditOrAddResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="clientId" type="q2:guid" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Sautom.Server.TransportDto" minOccurs="0" name="orderData" nillable="true" type="q3:OrderEditDtoInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddOrderResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Sautom.Server.TransportDto" minOccurs="0" name="orderData" nillable="true" type="q4:OrderEditDtoInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateOrderResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditOrAddClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="clientId" type="q5:guid" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Sautom.Server.TransportDto" minOccurs="0" name="clientData" nillable="true" type="q6:ClientEditDtoInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditOrAddClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditOrAddClientResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditOrAddCountry">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Sautom.Server.TransportDto" minOccurs="0" name="data" nillable="true" type="q7:CounrtyEditDtoInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditOrAddCountryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditOrAddCountryResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditOrAddRate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Sautom.Server.TransportDto" minOccurs="0" name="data" nillable="true" type="q8:RateItemDtoInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditOrAddRateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditOrAddRateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BulkUpdateOrders">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Sautom.Server.TransportDto" minOccurs="0" name="orders" nillable="true" type="q9:ArrayOfOrderEditDtoInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BulkUpdateOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BulkUpdateOrdersResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditOrAddContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Sautom.Server.TransportDto" minOccurs="0" name="contract" nillable="true" type="q10:ContractEditDtoInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditOrAddContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditOrAddContractResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditOrAddAirlineTicket">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Sautom.Server.TransportDto" minOccurs="0" name="airlineTicket" nillable="true" type="q11:AirlineTicketEditDtoInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditOrAddAirlineTicketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditOrAddAirlineTicketResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddClientComment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="clientId" type="q12:guid" />
        <xs:element minOccurs="0" name="comment" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddClientCommentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddClientCommentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>