src/Sautom.Client.Comunication/Service References/QueriesService/QueriesService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/SautomServices/QueriesService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Sautom.Server.TransportDto" />
  <xs:import schemaLocation="http://localhost:8000/SautomServices/QueriesService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:8000/SautomServices/QueriesService?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="CurrentUserName">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CurrentUserNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CurrentUserNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllClients">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="personalNumberFilter" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nameRuFilter" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="courseNameFilter" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllClientsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Sautom.Server.TransportDto" minOccurs="0" name="GetAllClientsResult" nillable="true" type="q1:ArrayOfClientItemDtoOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientForEdit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="clientId" type="q2:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientForEditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Sautom.Server.TransportDto" minOccurs="0" name="GetClientForEditResult" nillable="true" type="q3:ClientEditDtoOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientForView">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="clientId" type="q4:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientForViewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Sautom.Server.TransportDto" minOccurs="0" name="GetClientForViewResult" nillable="true" type="q5:ClientViewDtoOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderCreationData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderCreationDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Sautom.Server.TransportDto" minOccurs="0" name="GetOrderCreationDataResult" nillable="true" type="q6:CreateOrderInfoDtoOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderEditData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="orderId" type="q7:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderEditDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Sautom.Server.TransportDto" minOccurs="0" name="GetOrderEditDataResult" nillable="true" type="q8:CreateOrderInfoDtoOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AirlineTicketForView">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="orderId" type="q9:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AirlineTicketForViewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Sautom.Server.TransportDto" minOccurs="0" name="AirlineTicketForViewResult" nillable="true" type="q10:AirlineTicketViewDtoOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AirlineTicketForEdit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="airlineTickedId" type="q11:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AirlineTicketForEditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Sautom.Server.TransportDto" minOccurs="0" name="AirlineTicketForEditResult" nillable="true" type="q12:AirlineTicketEditDtoOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContractForView">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="orderId" type="q13:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContractForViewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Sautom.Server.TransportDto" minOccurs="0" name="ContractForViewResult" nillable="true" type="q14:ContractViewDtoOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContractForEdit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="contractId" type="q15:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContractForEditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Sautom.Server.TransportDto" minOccurs="0" name="ContractForEditResult" nillable="true" type="q16:ContractEditDtoOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProposals">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isGrouptFilter" nillable="true" type="xs:boolean" />
        <xs:element minOccurs="0" name="countryFilter" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="schoolNameFilter" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="courseNameFilter" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProposalsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Sautom.Server.TransportDto" minOccurs="0" name="GetAllProposalsResult" nillable="true" type="q17:ArrayOfProposalDtoOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProposalForEdit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="proposalId" type="q18:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProposalForEditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Sautom.Server.TransportDto" minOccurs="0" name="GetProposalForEditResult" nillable="true" type="q19:ProposalEditDtoOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCountries">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCountriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Sautom.Server.TransportDto" minOccurs="0" name="GetAllCountriesResult" nillable="true" type="q20:ArrayOfCountryItemDtoOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountryForEdit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="countryId" type="q21:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountryForEditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Sautom.Server.TransportDto" minOccurs="0" name="GetCountryForEditResult" nillable="true" type="q22:CountryEditDtoOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCountriesWithCities">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCountriesWithCitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Sautom.Server.TransportDto" minOccurs="0" name="GetAllCountriesWithCitiesResult" nillable="true" type="q23:ArrayOfCountryWitCitiesDtoOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRatesList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRatesListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Sautom.Server.TransportDto" minOccurs="0" name="GetRatesListResult" nillable="true" type="q24:ArrayOfRateItemDtoOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCourceNames">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startsWith" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCourceNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetCourceNamesResult" nillable="true" type="q25:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchoolNames">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startsWith" nillable="true" type="xs:string" />
        <xs:element xmlns:q26="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="cityId" type="q26:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchoolNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetSchoolNamesResult" nillable="true" type="q27:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>